body {
  background-color: rgba(0, 0, 0, 0.815);
  color: white;
}

.my-sidebar {
  /* From https://css.glass */
  background: rgba(0, 0, 0, 0.19);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(2.3px);
  -webkit-backdrop-filter: blur(2.3px);
  border: 1px solid rgba(0, 0, 0, 0.3);
  margin-top: 5.4rem;
}

.my-form {
  margin-top: 5.4rem;
}

.tombol {
  background-color: rgba(128, 128, 128, 0.918);
  border: none;
  color: rgb(255, 255, 255);
}
.tombol:hover {
  background-color: rgba(128, 128, 128, 0.863);
}
